@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body
{
    background-image: linear-gradient(90deg,#766DFF,#88F2FF);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: black;
}

section h2
{
    margin: 5% 5% 0 5%;
}

.skills
{
    padding: 2%;
    display: flex;
    justify-content: center;
}

.skills span
{
    width: 30%;
    margin: 1%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.project
{
    padding: 2%;
    display: flex;
    justify-content: center;
}

.project span
{
    width: 20%;
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.project a:link,a:hover,a:visited
{
    float: right;
    text-decoration: none;
}

.city
{
    padding: 0.5%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.city span
{
    width: 50%;
    margin: 0.5%;
    padding: 0.5%;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.city img
{
    width: 48%;
    padding: 1%;
    border-radius: 10px;
    vertical-align: middle;
}

.hobbies
{
    padding: 0.5%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.hobbies span
{
    width: 50%;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 10px;
    color: black;
}


header
{
    color: white;
    padding: 1% 10%;
}

.sticky 
{
    position: fixed;
    width: 80%;
    top: 0;
    background-color: #000000;
}

header .main
{
    font-family: 'Sacramento', cursive;
    font-size: 40;
    display: inline;
}

header a:link,a:hover,a:visited
{
    color: white;
    text-decoration: none;
    float: right;
    padding: 2%;
    font-size: 15;
    vertical-align: middle;
    cursor: pointer;
}

.card
{
    background-color: white;
    margin: 5%;
    border-radius: 10px;
    display: flex;
}

.card img
{
    width: 20%;
    padding: 3%;
    border-radius: 17%;
    
}

.card p
{
    padding: 3%;
    vertical-align: middle;
}
.card svg
{
    vertical-align: middle;
}

table
{
    border-spacing: 0 15px;
    padding: 2%;
    width: 100%;
}

table .head-start
{
    border-radius: 15px 0 0 15px;
}

table .head-end
{
    border-radius: 0 15px 15px 0;
}

table th
{
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    padding: 1%;
}

table td
{
    background-color: rgb(255,255,255,0.8);
    color: black;
    padding: 1%;
    text-align: center;
}


footer
{
    text-align: center;
    padding: 2%;
}


footer input
{
    padding: 1%;
    margin: 0.5%;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    outline: none;
    
}

footer input::placeholder
{
    color:rgb(94, 94, 94);
}

footer textarea
{
    padding: 1%;
    margin: 0.5%;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
}

footer button
{
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    padding: 1%;
    margin: 0.5%;
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #000000;
}

footer button:hover
{
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    border: none;
}

video
{
    margin: 2%;
}

